<!doctype html>
<html>
  <head>
    <style>
      #pic {
        max-width: 80vw;
        max-height: 80vh;
      }
      html {
        height: 100vh;
      }
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
        background: #222;
      }
    </style>
    <meta http-equiv="refresh" content="60"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <img id="pic" src="<%= image_url %>"/>
  </body>
</html>
